@media(min-width:600px) {
    header{
        display:flex;
    }
   #logo{
       width:25%;
   }
   nav{
       width:75%;
   }
    #main-page{
        display:flex;
    }
    #main-page aside{
        width:70%;
    }
    #main-page main{
        width:40%;
    }


}