@media(min-width:480px) {
    header{
        display:flex;
        align-items:center;
    }
   #logo{
       width:25%;
       background-color:midnightblue;
  
   }
   nav{
       width:75%;
       padding: .7rem 0;
       
   }
    #main-page{
        display:flex;
        align-items:center;
        margin-top:1rem;
    }
    #main-page aside{
        width:60%;
        padding:0 10%;
        box-sizing: border-box;

    }
    #main-page main{
        width:40%;
    }
    #bio p {
        padding-bottom:1rem;
        font-size: .8rem;
     }
    #picture-container{
        display:flex;
    }
    #thumb-aside{
        display:flex;
        flex-direction:column;
        width:30%;
    }
    #thumb{
        flex-direction: column;
        align-items:center;
        padding:3% 10%;
    }

    #thumb img{
        width:4.5rem;
        height:4.5rem;
    }
    aside h4{
        justify-content:center;
        font-size:.7rem;
        display:flex;
        order:-1;
        padding:1rem 0 0 0;
    }


    #active-picture{
        width:60%;
        display: flex;
       padding:5%;
        box-sizing:border-box;
        align-items:center;
    }
    #resume-main h1{
        font-size: 1.2rem;
    }
    #resume-main li, #resume-main table th, #resume-main table td{
        font-size: .9rem;
    }

}
@media(min-width:600px) {
.hide-toggle{
    display:flex;
} 


}
@media(min-width:1024px) {
    #thumb img{
        width:100%;
    }
    aside h4{
    font-size:1rem;
    }
    #active-picture{
    padding: 2% 12%;
    }
    #thumb img{
        width:9rem;
        height:9rem;
    }
    .hide-toggle2{
        display:flex;
    }
    #bio p {
        font-size: 1rem;
        padding-bottom:1.5rem;
    }
    #resume-main li, #resume-main table th, #resume-main table td{
        font-size: 1.05rem;
    }
}

@media(min-width:1200px) {
    #bio p {
        font-size: 1.15rem;
        padding-bottom:1.5rem;
    }
    #active-picture{
        padding: 0 12%;
    }   
}

@media(orientation:landscape){
    #reel-main{
        padding:0;
        width:110vh;
        margin:auto;
      }
}