body {
    margin:0;
    padding:0;
    font-size:100%;
    background-color:lightcyan;
}
main,aside{
    box-sizing: border-box;
}
aside{
   border: 1px solid red;
}
main{
    border: 1px solid blue;
}
nav{
    background:gray;
    padding: .5rem 0;}
nav ul{
    list-style:none;
    display:flex;
    margin:0;
    padding:0;
    max-width:80%;
    margin:auto;
    justify-content:center;
}

nav li {
    margin: 0;
    padding:0 10%;
}

nav a, #logo a{
    text-decoration:none;
}

nav a:hover{
    color:white;
    background-color:black;
}

#logo{
    text-align:center;
    padding:.7rem;
}

#logo a{
    color:green;
    font-size: 1.3rem;
}

#logo a:hover{
    color:red;
    font-size:1.4rem;
}

picture{
   max-width:100%;
}

